$primary-color: rgb(34, 87, 148);
$bg: white;

body{
  background-image: url('./components/asset/login7.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
}

h1 {
  color: $primary-color;
  max-width: 450px;
  max-height: 600px;
	margin: 10% auto;
  text-align: center;
  font-size: 20px;
}

h2{
  text-align: center;
}

.container{
  padding: 12px 30px;
  justify-content: center;
  align-items: center;
  background-color:ivory;
  position:inherit;
}

.drop_down_btn{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 5px solid c;
  box-sizing: border-box;
  text-align: center;
}

.textbox {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 5px solid c;
  box-sizing: border-box;
  text-align: center;
}

.error_msg{
  color: red;
  font-size: 15px;
}

.btn {
  padding: 15px 50px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgb(36, 196, 182);
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

.btn:hover {
  background-color: rgb(36, 196, 182);
 
}

.btn:active {
  background-color: #04AA6D;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  
}

.sign_up{
  font-size: 15px;
  font-weight: lighter;
  color: $primary-color;
}
